.blog {
  @include container;
  padding-top: 102px;

  @media (max-width: $medium-width) {
    padding-top: 52px;
  }
}

.blog__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $medium-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.blog__column {
  width: 48.7%;

  @media (max-width: $medium-width) {
    width: 100%;
  }
}

.blog__article {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $medium-width) {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 50px;
    }
  }
}
