.blog {
  @include container;
  margin-top: -10px;

  @media (max-width: $small-width) {
    padding-top: 3px;
  }
}

.blog__header {
  margin-bottom: 60px;

  @media (max-width: $medium-width) {
    margin-bottom: 64px;
  }

  @media (max-width: $small-width) {
    margin-bottom: 56px;
  }
}

.blog__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;

  @media (max-width: $medium-width) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: $small-width) {
    margin-top: -5px;
  }
}

.blog__column {
  width: 48.7%;

  @media (max-width: $medium-width) {
    width: 100%;
  }
}

.blog__article {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $medium-width) {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  @media (max-width: $small-width) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}
