.blog-article {
  width: 100%;

  display: flex;


  &--reverse {
    flex-direction: row-reverse;
  }

  &--big {
    position: relative;
    height: 630px;
  }

  @media (max-width: $medium-width) {
    &--big {
      height: auto;
    }
  }

  @media (max-width: $small-width) {
    flex-direction: column;
  }
}

.blog-article__image {
  position: relative;
  width: 50%;
  overflow: hidden;

  @media (max-width: $medium-width) {
    max-height: 300px;
  }

  @media (max-width: $small-width) {
    width: 100%;
    height: 256px;
  }
}

.blog-article__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.blog-article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 225px;
  min-height: 300px;
  padding: 67px 30px;
  background-color: $bg;

  @media (max-width: $small-width) {
    width: 100%;
    height: 256px;
    min-height: auto;
    padding-top: 45px;
    padding-bottom: 54px;
  }
}

.blog-article--big .blog-article__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  @media (max-width: $small-width) {
    position: static;
    height: 256px;
  }
}

.blog-article--big img {
  object-position: 0 0;
}

.blog-article--big .blog-article__content {
  margin: auto 0 0 auto;

  @media (max-width: $medium-width) {
    justify-content: center;
  }
}

.blog-article__content time {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: $gray;
}

.blog-article__content h3 {
  max-width: 170px;
  margin: 0 auto 38px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.blog-article__content a {
  @include link-hover;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $text;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $accent;
    transition: width 0.2s ease;
  }

  &:hover,
  &:focus {
    &::before {
      width: 0;
    }
  }
}
