.blog {
  @include container;
  padding-top: 102px;
}

.blog__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $medium-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.blog__column {
  width: 48.7%;

  @media (max-width: $medium-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}
