.button {
  display: inline-block;
  vertical-align: top;
  border: 1px solid $accent;
  padding: 24px 20px 23px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $white;
  background-color: $accent;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover,
  &:focus {
    color: $text;
    background-color: transparent;
  }

  &:active {
    opacity: 0.6;
  }

  &--empty {
    color: $text;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $white;
      background-color: $accent;
    }
  }
}
