.faq {
  @include container;
  padding-top: 119px;

  @media (max-width: $medium-width) {
    padding-top: 20px;
  }
}

.faq h2 {
  margin: 0 0 48px 0;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $small-width) {
    margin-bottom: 28px;
  }
}

.faq__list {
  max-width: 970px;
  margin: 0 auto;
  border: 1px solid $accent;
  border-bottom: none;
}

.faq__item {
  padding: 45px 50px 42px 42px;
  border-bottom: 1px solid $accent;

  &--opened {
    padding-bottom: 43px;
  }

  @media (max-width: $medium-width) {
    padding: 43px 49px 44px 48px;

    &--opened {
      padding-bottom: 45px;
    }
  }

  @media (max-width: $small-width) {
    padding: 16px 24px 21px;

    &--opened {
      padding: 16px 24px 19px;
    }
  }
}

.faq__item dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;

  @media (max-width: $small-width) {
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.4;
  }
}

.faq__item dd {
  display: none;
  margin: 0 0 0 4px;
  max-width: 520px;

  @media (max-width: $medium-width) {
    max-width: 530px;
    margin: 0;
  }

  @media (max-width: $small-width) {
    max-width: 209px;
    margin: 0;
    // padding-right: 25px;
    font-size: 14px;
    line-height: 20px;
  }
}

.faq__item--opened dt {
  margin-bottom: 7px;

  @media (max-width: $medium-width) {
    margin-bottom: 27px;
  }

  @media (max-width: $small-width) {
    margin-bottom: 14px;
  }
}

.faq__item--opened dd {
  display: block;
}

.faq__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.2s ease;

  &--opened {
    transform: rotate(0deg);
  }

  @media (max-width: $medium-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $small-width) {
    margin-top: 7px;
  }
}

.faq__toggle svg {
  fill: none;

  @media (max-width: $medium-width) {
    width: 24px;
    height: 16px;
  }
}
