.footer {
  margin-top: auto;
  padding: 89px 0 71px;
  color: $white;
  background-color: $black;

  @media (max-width: $medium-width) {
    padding: 49px 0 55px;
  }

  @media (max-width: $small-width) {
    padding: 49px 0 39px;
  }
}

.footer__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;

  @media (max-width: $medium-width) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.footer__subscription {
  max-width: 500px;
  width: 100%;
  margin-right: 20px;

  @media (max-width: $medium-width) {
    display: block;
    max-width: none;
    width: 100%;
    margin: 0 0 35px 0;
  }
}

.footer__navigation {
  margin-right: 20px;
  padding-top: 6px;

  @media (max-width: $medium-width) {
    display: block;
    width: 100%;
    margin-right: 0;
    padding-top: 11px;
  }

  @media (max-width: $small-width) {
    margin: 0 0 34px 0;
  }
}

.footer__socials {
  padding-top: 6px;

  @media (max-width: $medium-width) {
    padding-top: 11px;
  }

  @media (max-width: $small-width) {
    display: block;
    width: 100%;
  }
}
