.gallery {
  @include container;
  padding-top: 108px;
  padding-bottom: 132px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.74fr 1fr 1fr;
  column-gap: 27px;

  @media (max-width: $small-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}

.gallery__column {
  display: flex;
  flex-direction: column;
}

.gallery__column--mobile img:first-child {
  @media (max-width: $small-width) {
    display: none;
  }
}

.gallery__column img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 34px;
  object-fit: cover;

  @media (max-width: $small-width) {
    margin-bottom: 27px;
  }
}
