.goods {
  display: flex;
  justify-content: center;
}

.goods a {
  color: $text;

  @media (max-width: $medium-width) {
    width: 100%;
  }
}

.goods img {
  display: block;
  margin-bottom: 21px;

  @media (max-width: $medium-width) {
    width: 100%;
  }

  @media (max-width: $small-width) {
    margin-bottom: 15px;
    min-height: 136px;
  }
}

.goods h3 {
  margin: 0 0 6px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.goods p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
