.header-cart span {
  @media (max-width: $medium-width) {
    display: none;
  }
}

.header-cart__icon {
  display: none;
  stroke: $text;
  fill: none;

  @media (max-width: $medium-width) {
    display: block;
  }
}
