.popular {
  @include container;
  padding-top: 119px;
  padding-bottom: 126px;

  @media (max-width: $medium-width) {
    padding-top: 69px;
    padding-bottom: 78px;
  }

  @media (max-width: $small-width) {
    padding-top: 59px;
    padding-bottom: 61px;
  }
}

.popular__list {
  @include reset-list;
}
