.slider {
  position: relative;
}

.slider__container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 55px;

  @media (max-width: $medium-width) {
    margin-top: -10px;
    padding-bottom: 45px;
  }

  @media (max-width: $small-width) {
    margin-top: -15px;
    padding-bottom: 35px;
  }
}

.slider__wrapper {
  display: flex;
}

.slider--nojs .swiper-slide {
  width: auto;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
}

.slider__pagination .swiper-pagination-bullet {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  padding: 0 6px;
  font-weight: 500;
  font-size: 16px;
  color: $gray;
  opacity: 1;
  background-color: transparent;
}

.slider__pagination .swiper-pagination-bullet-active {
  color: $text;
}

.slider__pagination .swiper-pagination-current,
.slider__pagination .swiper-pagination-total {
  @media (max-width: $small-width) {
    padding: 0 10px;
  }
}

.slider__actions {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $small-width) {
    display: none;
  }
}

.slider--nojs .slider__actions {
  display: none;
}

.slider__button {
  position: static;
  width: 29px;
  height: 9px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;


  &::after {
    display: none;
  }

  &--next {
    transform: rotate(180deg);
  }
}

.slider__button svg {
  stroke: $accent;
}
