@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-hover {
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    color: rgba($accent, 0.3);
  }
}

@mixin container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 98px;

  @media (max-width: $medium-width) {
    padding: 0 45px;
  }

  @media (max-width: $small-width) {
    padding: 0 15px;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
