// fonts
$main-font: "Poppins", "Arial", sans-serif;
$secondary-font: "Cormorant Garamond", "Times New Roman", serif;

// colors
$black: #000000;
$white: #ffffff;
$accent: #a87b62;
$overlay: #564034;
$bg: #f0eae4;
$gray: #9b9997;
$text: #1d1613;

// media
$max-width: 1366px;
$min-width: 320px;
$large-width: 1024px;
$medium-width: 1023px;
$small-width: 767px;
